---
import CallToAction from './CallToAction.astro'
import Logo from './Logo.astro'
import { Heading, Link } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-20">
    <Heading level="h2" class="sr-only">Footer</Heading>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <Heading level="h3" size="h6">Pages</Heading>
        <ul class="flex flex-col gap-2">
          <li><Link href="/accessibility-statement">Accessibility statement</Link></li>        
          <li><Link href="/sitemap">Sitemap</Link></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Heading level="h3" size="h6">Ziva's Projects</Heading>
        <ul class="flex flex-col gap-2">
          <li>
            <Link href="/portfolio/project-01"
              >CALMe</Link>
          </li>
          <li>
            <Link href="/portfolio/project-02"
              >Rabbi Gene Wernick</Link>
          </li>
          <li>
            <Link href="/portfolio/project-03"
              >HomeGrown</Link>
          </li>
          <li>
            <Link href="/portfolio/project-04"
              >Jaffa Institute Website</Link>
          </li>
          <li>
            <Link href="/portfolio/project-05"
              >My Warrior's Shield</Link>
          </li>
          <li>
            <Link href="/portfolio/project-06"
              >Keywise Care</Link>
          </li>
          
          <li>
            <Link isExternal href="https://gene.rabbiwernick.com">Rabbi Gene Wernick</Link>
          </li>
          <li>
            <Link isExternal href="https://jaffainstitute.org"
              >Jaffa Institute Website</Link>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="leading-[1.75]">
          Tip: always test for screen reader support. Press <kbd class="kbd">⌘</kbd> + <kbd class="kbd">F5</kbd> to start
          VoiceOver or <kbd class="kbd">Win</kbd>
          + <kbd class="kbd">Ctrl</kbd> + <kbd class="kbd">Enter</kbd> for Narrator.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Made with ❤️ by Ziva Wernick
      </p>
      <p>
        Built with <Link href="https://starter.incluud.dev/"> Accessible Starter </Link> for <Link href="https://astro.build/">Astro</Link>
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
