---
import Navigation from '@components/Navigation.astro'
import LauncherConfig from '@components/LauncherConfig.astro'
import { HighContrast, ReducedMotion, SkipLink } from 'accessible-astro-components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <!-- Initialize preference components -->
  <div hidden>
    <HighContrast />
    <ReducedMotion />
  </div>

  <Navigation />
  {/* To remove the launcher, delete this component and remove the LauncherTrigger from `Navigation.astro`. */}
  <LauncherConfig />
</header>

<style lang="scss" is:global>
  @use '@assets/scss/base/breakpoint' as *;

  header {
    li.type-icon {
      display: block;

      @include breakpoint('nav') {
        translate: 0 4px;
      }

      button {
        border: none;
        border-radius: 0;
      }

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }

    li.type-icon ~ li.type-icon {
      @include breakpoint('nav') {
        margin-inline-start: calc(var(--space-2xs) * -1);
      }
    }

    li.desktop-launcher {
      display: none;
    }

    @include breakpoint('nav') {
      li.desktop-launcher {
        display: block;
      }
    }
  }
</style>
